
  <!-- Footer -->
  <footer class="bg-light py-4">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2019 - Olobe</div>
    </div>
  </footer>
</body>
</html>